<div id="banner">
	Dr. Arthur presents both <span style="font-weight: 800;">NCE</span> and <span style="font-weight: 800;">NCMHCE</span> Workshops
</div>
<div class="container">
	<div class="row mar-top">
		<div class="col-md-8 col-md-offset-2">

	<h1>Thank you!</h1>

	<p>Thanks for making payment in advance. This will assure your materials 
		will be at the workshop when you arrive.</p>

</div>
</div>
</div>