<div id="banner">
	Dr. Arthur presents both <span style="font-weight: 800; color: #8eff18;">NCE</span> and <span style="font-weight: 800; color: #8eff18;">NCMHCE</span> Workshops
</div>
<div class="container">
	<div class="row mar-top">
		<div class="col-md-6">
			<h1>NCE Workshop Description</h1>
			<p>The National Counselor’s Examination Workshop covers 9-study units over 2-day span of time. The workshop covers one-two hour periods for each unit representing most of the questions and less time on units for fewer items on the NCE.</p>
			<p>NCE make-up and how to prepare for the questions, items per unit, previous pass scores, and types of questions examinees find confusing and/or difficult.</p>
			<ul>
				<li>Professional Orientation and Ethics</li>
				<li>Appraisal</li>
				<li>Research and Program Evaluation</li>
				<li>Career and Lifestyle</li>
				<li>Social Foundations</li>
				<li>Group work (process and dynamics)</li>
				<li>Helping Relationships</li>
				<li>Human Growth and Development</li>
			</ul>
			<p>For each unit highlighted will be:</p>
			<ul>
				<li>Concepts in question format based on CACREP objectives</li>
				<li>Example of concepts questions illustrating depth of question</li>
				<li>Practical application questions: examples and teaching in how to solve</li>
				<li>Expected taxonomy level of difficulty for the 200 items</li>
				<li>Strategies for maximizing your strengths</li>
			</ul>
			<br />
		</div>
		<div class="col-md-6">
			<h1>Some NCMHCE workshop decsription goes here!</h1>
		</div>
	</div>
</div>


